body {
  background-color: #020002;
  color: #ffff;
  background-image: url("../img/introBg.svg");
  background-repeat: no-repeat;
  background-position: right top;
  position: relative;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
}
.header {
  display: flex;
  align-items: center;
  gap: 108px;
  padding-top: 25px;
  position: absolute;
}
.header__login {
  display: flex;
  align-items: center;
  gap: 12px;
}
.header__login-text {
  border-bottom: 1px solid #ffff;
}

.intro {
  padding: 160px 0 24px 0;
}
.intro__title {
  font-size: 64px;
  line-height: 70px;
  margin-bottom: 88px;
}
.intro__title span {
  display: block;
}
.intro__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 74px;
}

.intro__subtitle {
  display: flex;
  gap: 31px;
  align-items: flex-end;
}
.intro__subtitle-text {
  font-size: 20px;
  line-height: 27px;
  max-width: 380px;
}
.intro__subtitle-img {
  position: relative;
}
.intro__subtitle-img::after {
  content: "";
  background-color: rgba(96, 92, 234, 0.5);
  filter: blur(50px);
  position: absolute;
  width: 125px;
  height: 125px;
  top: 0;
  left: 0;
}
.intro__download {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 35px;
  line-height: 70px;
}
.intro__download-links {
  display: flex;
  gap: 30px;
}

.contact {
  padding: 180px 0 230px 0;
}
.contact__inner {
  display: flex;
  justify-content: space-around;
}
.contact__card {
  /* display: flex; */
  /* flex-direction: column; */
  border: 2px solid #ffff;
  border-radius: 20px;
  /* gap: 30px; */
  max-width: 503px;
  /* justify-content: center; */
  text-align: start;
}
.contact__card-left {
  padding: 64px 73px 62px 55px;
}
.contact__card-right {
  padding: 97px 110px 94px 55px;
}
.card-title {
  font-size: 30px;
  line-height: 41px;
  width: 300px;
  margin-bottom: 30px;
}
.card-link {
  font-size: 24px;
  line-height: 33px;
  border-bottom: 1px solid #ffff;
}
.cookie {
  opacity: 0;
  width: 100vw;
  left: 0;
  position: absolute;
  background-color: #212834;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 500px;
  padding: 21px 24px 21px 100px;
  transition: 2s ease;
}
.cookie__btn {
  background: rgba(255, 255, 255, 0.1);
  border: 0.5px solid #ffffff;
  border-radius: 6px;
  padding: 20px 50px;
  color: #ffff;
}
.cookie-appearance{
  transform: translateY(-102px);
  opacity: 1;
}
